/* reset css stijl */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
img {
    max-width: 100%;
    height: auto;
}
/* eind reset stijl */

.grid-container 
{
    display: grid;
    grid-template-columns: auto repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: 
    "header header header"
    "nav content content"
    ;
}

.grid-container {
    margin: 0 auto;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

hr {
    margin: 1em;
    margin-left: 0;
}

.grid-item 
{
    background-color: #fff;
    padding: 2em; 
}

header { grid-area: header; }
nav { grid-area: nav; }
.content { grid-area: content; }